.first {
    padding-top:50px;
    min-height: 50px;
}

.second {
    font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style:italic;
    font-size:50px;
    line-height:122px;
    margin-bottom:25px;
    color:antiquewhite;
}

#firstid {
  padding-right: 150px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}
